@import "tailwindcss";

:root {
       --color-primary: #6A2E35;
        --color-accentGray: #D8CFC4;
        --color-accentApricot: #f5e9d3;
        --color-pagebg: #FDFCF8;
        --color-card: #FFFFFF;
        --color-text: #333333;
        --color-text2: #7d7d7d;
        --color-border: #e3e2df;
        --color-alert: #F26868;
      
}

body {
    padding: 1rem;
    /* background-color: #FDFCF8; */
 

}

html, body {
    height: 100%;
}